body{
    background-color: black;
    color:white;
    font-family: 'NamsFavouriteFont', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input, select, button, textarea{
    background-color: black;
    color:white;
    border-radius: 5px;
}
fieldset{
    border-radius: 25px;
    border: 2px solid #ff0066;
    padding: 20px;
    width: 500px;
    margin-top:10px;
    margin-bottom: 10px;
}
button{
    width:90px;
    margin-left: 7px;
    margin-right: 7px;
}
legend{
    color: #ff0066;
    font-weight:900;
}
#legend{
    color: #ff0066;
    font-weight:900;
}
.namsblock{
    display:flex;
}
.leftblock{
    flex: 0 0 25%;
}
.rightblock{
    flex: 1;
}
#note{
    color:white;
    font-family: 'NamsFavouriteFont', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}